.hidden{
    display: none;
}
.completed{
    color: grey;
    text-decoration: line-through;
}
h1{
    font-family: 'Hammersmith One', sans-serif;
}
div#alert{
    font-family: 'Hammersmith One', sans-serif;
    color:red;
}
ul{
    list-style-type: none;
    width: 500px;
    height: 500px;
    border: 2px solid black;
}
li{
    font-family: 'Kalam', cursive;
    font-size: 2em;
}
button{
    font-family: 'Hammersmith One', sans-serif;
    background-color: white;
}
input{
    font-family: 'Kalam', cursive;
    padding: 10px;
    border: none;
    border-bottom: 5px dotted black;
    margin: 0px 10px 0px 10px;
}
input:hover{
    background-color: rgb(211, 134, 82);
    border-radius: 10px;
}
img.deleteButton{
    margin: 0px 10px 0px 10px;
}
img.toggleCompletedButton{
    margin-left: 10px;
}

img.changeTodoButton{
    margin-left: 10px;
}
img.addTodo{
    width: 50px;
    height: 50px;
}
img.toggleAll {
    width: 70px;
    height: 70px;
}
img:hover{
    border: 0px solid;
    border-radius: 10px;
    background-color: rgb(211, 134, 82);
}
@media only screen and (max-width: 550px){
    ul{
        width: 90%;
        height: 500px;
    }
}
@media only screen and (max-height: 775px){
    ul{
        min-height: 200px;
        width: 90%;
        height: 80%;
    }
}
@media only screen and (max-width: 255px){
    ul{
        min-height: 200px;
        width: 90%;
        height: 80%;
    }
    img{
        margin: 0px;
    }
    img.addTodo{
        width: 30%;
        height: auto;
    }
    input{
        padding: 0px;
        width: 60%;
    }
}